
<!-------------HEADER------------>
<app-header></app-header>


<div id="mainDiv" class="container">
    <div id="card" class="jumbotron">

        <!-- Adding Task From -->
        <app-task-input-form *ngIf="isFormVisible"></app-task-input-form>
        
        <button class="button roundAddBtn" (click)="displayForm()">

            <i *ngIf=" ! isFormVisible" style="font-size: 25px;" class="fa fa-arrow-down" aria-hidden="true"></i>
            <i *ngIf="isFormVisible" style="font-size: 25px;" class="fa fa-arrow-up" aria-hidden="true"></i>

        </button>
        <h4>LIST OF TASK</h4>
        <app-datacard ></app-datacard>
       
          <!---- <div id="mainCard" >
                <div  class="row">
                    <div id="cardContainer" class=" col-sm-6 col-md-6 col-lg-4 ">

                        
                    </div>
                    <div style="float:right" id="cardContainer" class=" col-sm-6 col-md-6 col-lg-4 ">
<app-datacard></app-datacard>
                       
                    </div>
                </div>
            </div>-->
               
              
    </div>
</div>



  
