

<div id="mainDiv" class="container">
    <div id="card" class="jumbotron">
        <h1 >CLOUDESIGN</h1>
        <p>MEAN Stack Assignment</p>
        <p class="lead">Technology used </p>

         <li>  #Mysql  #ExpressJs  #AngularJs  #NodeJs </li>
       
        <hr class="my-4">
         
        
          <a class="btn btn-secondary btn-lg" routerLink="tasklist"  role="button">
            <i class="fa fa-sign-in" aria-hidden="true"> Lets get started</i>
          </a>

        
       
      </div>
</div>

<!--FOOTER-->
<div id="footerDiv" class="container">
  <div id="card" class="jumbotron">
    <i class="fa fa-copyright" aria-hidden="true"></i> 2020 mean stack assignment . All Rights Reserved
    </div>
</div>

