

<div class="headerClass">
  
<nav class="navbar navbar-expand-lg">
  <h2 class="textClass">MEAN Stack Assignment</h2>
    <!----  ADD TASK RENDER
    <button class="btn btn-outline-light " type="button">
        <a routerLink="taskform"><i class="fa fa-plus-circle" aria-hidden="true"> ADD TASK</i></a>
    </button>

     <!---- EDIT TASK RENDER ----
     <button class="btn btn-outline-light " type="button">
        <a routerLink="tasklist" >
           sasasa
        </a>
    </button>
    

     <!---- VIEW TASK RENDER ----
     <p class="lead">
        <a  class="btn btn-outline-light" routerLink="tasklist"  role="button">
            <i class="fa fa-eye" aria-hidden="true"> VIEW TASK</i>
        </a>
     </p>
  
    
      <a class="btn btn-outline-light" routerLink="tasklist"  role="button">
        <i class="fa fa-sign-in" aria-hidden="true"> Lets get started</i>
      </a>-->

     
      
   
   
</nav>
 

</div>